.jumbotron {
  padding-top: 6rem;
  background-color: #334756;
}

#gallery {
  background-color: #334756;
}
footer {
  width: auto;

  background-color: #f0a500;
}
footer ul {
  display: flex;
}
footer ul li {
  margin-right: 15px;
  display: flex;
}
section {
  padding-top: 5rem;
}
